body {
	//height: 70vw;
	font-family: sans;
}
table {
	width: 100%;
	//background-color: #eee;
	border-style: solid;
	border-color: #000;
	border-collapse: collapse;
}
tr {
	transition: background-color 1s;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
td {
	//padding: 1em;
	width: 50%;
	border: 0.5px solid #a0a0a0;
}
td:first-child {
	text-align: left;
	font-weight: bold;
}
tr:hover {
	background-color: #a0a0a0;
}
img {
	border-radius: 50%;
	height: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*tr.last {
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: medium;
}*/
div.result-stats {
	padding: 2px;
}